.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
    background: rgba(223, 220, 255, 0.87);
    /* backdrop-filter: blur(10px); */
    border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}

.nav-inner {
    margin: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.imageContainer {
    /* background: rgba(234, 231, 255, 0.863); */
    width: 15%;
    padding: 6px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-links {
    display: flex;
    gap: 32px;
    color: var(--bg-elevated);
    font-size: 16px;
}

.nav-links a:hover {
    color: white;
}

@media (max-width: 640px) {
    .nav-inner {
        margin: 0 12px;
        padding: 14px 0;
    }

    .logo {
        font-size: 22px;
    }

    .nav-links {
        gap: 16px;
        font-size: 13px;
    }
}